@mixin color-pink {
    color: #E8244F;
 }
 @mixin color-white {
     color:#FFFFFF;
 }
 @mixin color-black {
     color: #000000;
 }
// HEADER
.nav a:hover {
    color: #E8244F;
}

// HEADER
.header__logo-img:hover {
    animation: tremble 3s linear infinite;
    cursor: pointer;
}

@keyframes tremble {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

// INTRO
.img1-1 {
    animation: 15s  infinite;
        animation-name: rotate;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
// INFO
.info__div {
    transition: .3s;
    &-circle svg {
        transition: .3s;
        fill: white;
    }
    &-circle svg:hover {
        fill: #E8244F;
        stroke: #FFFFFF;
        cursor: pointer;
    }
    &:hover {
        background-color: black;
        @include color-white;
        border-radius: 4px;
    }
}
// BURGER MENU
#burger, [for=burger] {
    display: none;
}
// HISTORJE
.historie__intro{
    & img {transition: .3s;}
    & img:hover {
    opacity: 70%;
    cursor: pointer;
}
}
// inspiracje
.inspiracje__intro{
    & img {transition: .3s;}
    & img:hover {
    opacity: 70%;
    cursor: pointer;
}
}
// MARQUEE
.scroll {
    font-size: 114px;
    animation: marquee 12s linear infinite;
    display: inline-block;
    padding: 2px 30px;
    transition: all .3s ;
    color: #888;
}
@keyframes marquee {
 0% {
    transform: translateX(0);
}

100% {
    transform: translateX(-100%);
}
}
.scroll-rev {
    animation-direction: reverse;
}
// ABOUT
.about__inner {
    & img {transition: .3s;}
    & img:hover {
    opacity: 70%;
    cursor: pointer;
}
}
// Footer
.footer__lic-inner-span {
    transition: .3s;
}
.footer__lic-inner-span:hover {
    @include color-pink;
}

