@mixin color-pink {
    color: #E8244F;
 }
 @mixin color-white {
     color:#FFFFFF;
 }
 @mixin color-black {
     color: #000000;
 }




// HEADER
.nav a:hover {
    color: #E8244F;
}


// INFO
.info__div {
    transition: .3s;
    &-circle svg {
        transition: .3s;
        fill: white;
    }
    &-circle svg:hover {
        fill: #E8244F;
        stroke: #FFFFFF;
        cursor: pointer;
    }
    &:hover {
        background-color: black;
        @include color-white;
        border-radius: 4px;
    }
}

// HISTORJE
.historie__intro{
    & img {transition: .3s;}
    & img:hover {
    opacity: 70%;
    cursor: pointer;
}
}
// inspiracje
.inspiracje__intro{
    & img {transition: .3s;}
    & img:hover {
    opacity: 70%;
    cursor: pointer;
}
}

// ABOUT
.about__inner {
    & img {transition: .3s;}
    & img:hover {
    opacity: 70%;
    cursor: pointer;
}
}
// Footer
.footer__lic-inner-span {
    transition: .3s;
}
.footer__lic-inner-span:hover {
    @include color-pink;
}
