// COLORS MIXIN
@mixin color-black {
    background-color: #000000;
}
@mixin color-white {
    background-color: #FFFFFF;
} 

// **********************


// HEADER
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
.header {
    @include color-black;
    margin: 0 auto;
    padding: 34px 34px 34px 55px;
    &__inner {
        @include color-black;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav a {
            transition: 0.3s;
            opacity: 0.75;
            margin-right: 34px;
        }
    }
}
// Intro
.intro {
    @include color-black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0px;
    // &__fig {
    //     border: 1px solid white;
    // }
    &__title {
        & :nth-child(1) {
            padding-left: 196px;
        }
        & :nth-child(2) {
            padding-left: 166px;
        }
        & :nth-child(3) {
            padding-left: 346px;
        }

    }
    &__subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 126px;
        &-inner1 {
            max-width: 510px;
        }
        &-inner2 {
            max-width: 175px;
            & h3 {
                padding-bottom: 5px;
            }
        }
    }
}
// INFO
.info {
    @include color-white;
    // margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 140px 0px 100px 0px;
    & h5 {
        margin-bottom: 90px;
    }
    &__div {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0px 40px 0px;
        &-circle {
        width: 41.35px;
        height: 41.35px;;
        border-radius: 100%;
        border: 1.02px solid #000000;
        }
        &-p2 {
           padding-left: 170px;
        }
        &-p3 {
            padding-left: 190px;
         }
         &-p4 {
            padding-right: 30px;
         }
    }
}

// HISTORIE
.historie {
    @include color-white;
    padding: 100px 0px 180px 0px;
    &__intro {
    display:grid;
    grid-template-areas: 'item-1 item-1 . item-2'
                        'item-3 item-3 item-4 item-5'
                        '. item-6 item-7 item-8'
                        'item-9 item-10 item-11 item-11';
    grid-template-columns: repeat(4, 1fr) ;
    gap:30px;
    &-item-1 {
        grid-area: item-1;
        width:fit-content;
    }
    &-item-2 {
        grid-area: item-2;
        width:fit-content;
    }
    &-item-3 {
        padding-top: 90px;
        max-width: 567px;
        width:100%;
        grid-area: item-3;
        width:fit-content;
    }
    &-item-4 {
        grid-area: item-4;
        width:fit-content;
    }
    &-item-5 {
        grid-area: item-5;
        width:fit-content;
    }
    &-item-6 {
        grid-area: item-6;
        width:fit-content;
    }
    &-item-7 {
        grid-area: item-7;
        width:fit-content;
    }
    &-item-8 {
        grid-area: item-8;
        width:fit-content;
    }
    &-item-9 {
        grid-area: item-9;
        width:fit-content;
    }
    &-item-10 {
        grid-area: item-10;
        width:fit-content;
    }
    &-item-11 {
        padding-top: 120px;
        padding-left: 40px;
        grid-area: item-11;
        width:fit-content;
    }
}
}
// LABELS
.labels {
    display: flex;
    padding: 100px 0px 115px 0px;
    // justify-content: space-between;
    flex-direction: row;
    &__title {
        margin-bottom: 90px;
    }
    &__inner1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    &__inner2 {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
        flex-direction: row;
    }
}
// TABS
.tabs {
    @include color-black;
    padding: 100px 0px;
    &__inner {
        @include color-black;
        display: flex;
        gap: 250px;
    }
    &__item {
        display: block;
        padding-bottom: 28px;
    }
    &__items {
        max-width:125px;
    }
    &__block {
        display: none;
        hr {
            max-width: 140px;
            margin: 0%;
        }
    }
    &__block:target {
        display: block; 
    }
    &__block h3 {
        max-width: 534px;
    }
    &__block p {
        max-width: 416px;
    }
    &__item {
        transition: .3s;
    }
    &__item:hover {
        color: #E8244F;
    }
    &__item:nth-child(2):hover {
        color: #164ae4;
    }
    &__item:nth-child(4):hover {
        color: #164ae4;
    }
    &__spans {
        display: flex;
        flex-direction: row;
        gap:40px;
        overflow: hidden;
        padding-top:130px;
    }
    &__span {
        transition: .3s;
    }
    &__span:hover {
        color: #E8244F;
    }
    &__span:nth-child(2):hover {
        color: #164ae4;
    }
    &__span:nth-child(4):hover {
        color: #164ae4;
    }
}
// INSPIRACJE
.inspiracje {
        @include color-white;
        padding: 120px 0px 50px 0px;
        &__intro {
        display:grid;
        grid-template-areas: 'item-1 item-2 item-2 item-2'
                            'item-3 item-4 item-5 item-6'
                            'item-7 item-7  item-8 item-9';
        grid-template-columns: repeat(4, 1fr) ;
        gap:30px;
        &-item-1 {
            grid-area: item-1;
            width:fit-content;
        }
        &-item-2 {
            grid-area: item-2;
            max-width:800px;
            padding: 55px 0px 0px 43px;
        }
        &-item-3 {
            grid-area: item-3;
            width:fit-content;
        }
        &-item-4 {
             grid-area: item-4;
            width:fit-content;
        }
        &-item-5 {
            grid-area: item-5;
            width:fit-content;
        }
        &-item-6 {
            grid-area: item-6;
            width:fit-content;
        }
        &-item-7 {
            grid-area: item-7;
            max-width:500px;
            display: flex;
            align-items: center;
        }
        &-item-8 {
            grid-area: item-8;
            width:fit-content;
        }
        &-item-9 {
            grid-area: item-9;
            width:fit-content;
        }
}
}

// MARQUEE
.marquee {
    padding: 50px 0;
    &__container {
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        width: 100%;
        padding: 50px 0;
        line-height: 1;
    }
}
.scroll {
    font-size: 114px;
    animation: marquee 12s linear infinite;
    display: inline-block;
    padding: 2px 30px;
    transition: all .3s ease;
    color: #888;
}
@keyframes marquee {
 0% {
    transform: translateX(0);
}

100% {
    transform: translateX(-100%);
}
}
.scroll-rev {
    animation-direction: reverse;
}



// ABOUT
.about {
    @include color-white;
    padding: 100px 0px 100px 0px;
    &__inner {
        display: flex;
        flex-direction: row;
        gap:130px;
        justify-content: center;
        &-left {
            padding-top: 90px;
            & p {
                max-width: 524px;
            }
            & figure {
                padding-top: 40px;
            }
        }
        &-right {
            & p {
                max-width: 528px;
                padding-top: 50px;
            }
            .about-sign {
                display: flex;
                flex-direction: row;
                gap: 41px;
            }
        }
    }
}













// FOOTER
.footer {
    @include color-black;
    margin: 0 auto;
    display: flex;
    padding: 100px 0px 45px 0px;
    &__mail {
        margin-top:65px;
        max-width: fit-content;
    }
    &__links {
        display:flex;
        justify-content: space-between;
        margin-top:150px;
        &-text {
            max-width: 280px;
        }
        &-img :nth-child(2) {
            margin-left: 43px;
        }
    }
    &__lic {
        display:flex;
        justify-content: space-between;
        margin-top:230px;
        &-inner {
            max-width: fit-content;
            &-span {
                padding-left: 85px;
            }
        }
    }
}

// to-top
.to-top {
    text-align: center;
    padding: 45px 0;
    & a:hover {
        cursor: pointer;
    }
}
